body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.create-icon {
  max-width: 150px;
  max-height: 150px;
  padding-right: 50px
}

.create-icon-onion {
  max-width: 130px;
  max-height: 130px;
  padding-right: 50px;
  padding-bottom: 20px
}

.plain-hot-dog{
  max-width: 500px;
  max-height: auto
}

