body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #fdedd8
}

/* LOGIN */

.welcome-header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.welcome {
  margin: 10px auto;
  width: 500px;
  position: relative;
  top: 0px;
  left: 150px;
  height: 480px;
}

.welcome-img {
  position: relative;
  left: 70px;
  width: 300px;
  height: auto
}

.flex-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 0px
}

.login-form-container {
  margin: 20px auto;
  width: 350px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 20px;
  left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  height: 480px;
  display: grid;
  grid-template-rows: 1fr 1.2fr;
  background: rgb(240, 214, 147);
}

.login-form-content-top {
  background: rgb(253, 89, 29);
  border-radius: 5px 5px 0 0;
  position: relative;
}

.login-form-content-bottom {
  background: rgb(240, 214, 147);
  border-radius: 0 0 5px 5px;
  position: relative;
}

.sign-up-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
  height: 15%;
  font-size: 1rem;
  border-radius: 10px;
}

.form-input-btn {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  border-radius: 7px;
  background: black;
  outline: none;
  border: none;
  color: #F9e5cc;
  font-size: 1rem;
  cursor: pointer
}

.form-input-btn:hover {
  background: yellow;
  color: black
}

.error-message {
  font-size: 1rem;
  text-align: center;
  color: gray
}

/* NAVBAR */

.navbar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 110px;
  padding: 30px;
  text-align: center;
  background: rgb(253, 89, 29);
}

.logo-img {
  position: absolute;
  left: 50px;
  width: 150px;
  height: auto
}

.navbar-btn {
  display: inline-block;
  position: relative;
  top: 35px;
  left: 80px;
  margin-right: 50px;
  width: 120px;
  height: 50px;
  background: rgb(240, 214, 147);
  cursor: pointer;
  font-size: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
}

.navbar-btn:hover {
  background: yellow
}


.navbar-btn-logout {
  display: inline-block;
  position: relative;
  top: 35px;
  left: 190px;
  margin-right: 50px;
  width: 100px;
  height: 50px;
  background: rgb(14, 9, 7);
  cursor: pointer;
  font-size: 20px;
  color: rgb(240, 214, 147);
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
}

.navbar-btn-logout:hover {
  background: yellow;
  color: black
}

/* CREATE */

.create-icon {
  max-width: 150px;
  max-height: 150px;
  padding-right: 50px
}

.create-icon-onion {
  max-width: 130px;
  max-height: 130px;
  padding-right: 50px;
  padding-bottom: 20px
}

.created-dog {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 50px
}

.plain-hot-dog {
  width: 700px;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.mustard_sqiggle {
  width: 650px;
  height: 100px;
  transform: rotate(25deg);
  position: absolute;
  top: 180px;
  left: 85px;
}

.ketchup_sqiggle {
  width: 650px;
  height: 100px;
  transform: rotate(26deg);
  position: absolute;
  top: 270px;
  left: 10px;
}

.chopped-onions {
  width: 600px;
  height: 60px;
  transform: rotate(29deg);
  position: absolute;
  top: 210px;
  left: 90px;
}

.sliced-peppers {
  width: 600px;
  height: 100px;
  transform: rotate(22deg);
  position: absolute;
  top: 210px;
  left: 70px;
}

.relish {
  width: 600px;
  height: auto;
  transform: rotate(30deg);
  position: absolute;
  top: 250px;
  left: 70px;
}

.sauerkraut {
  width: 600px;
  height: 50px;
  transform: rotate(24deg);
  position: absolute;
  top: 240px;
  left: 70px;
}

/* LOGOUT */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 500px;
  background-color: white
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px
}

/* FIND */
.find-header {
  position: relative;
  text-align: center;
}

.find-h1 {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}

.find-btn {
  display: inline-block;
  position: absolute;
  top: 28px;
  width: 100px;
  height: 30px;
  background: rgb(240, 214, 147);
  cursor: pointer;
  font-size: 17px;
  color: black;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.find-btn:hover {
  background: yellow
}